# Whisper-WebUI dependencies
-r ../requirements.txt

# Backend dependencies
fastapi
httpx
python-dotenv
python-multipart
uvicorn
SQLAlchemy
sqlmodel
pydantic

# Test dependencies
# pytest
# pytest-asyncio
